version: "3.1"

volumes:
  ldap_data:
  ldap_config:
  esdata:
  georchestra_datadir:


services:
  copy-datadir:
    image: alpine
    command: sh -c "rm -r /etc/georchestra/* ; cp -r -f -v /mnt/datadir/* /etc/georchestra/ ; chmod 777 -R -v /etc/georchestra/" # "sleep 6000"
    volumes:
      - ./datadir:/mnt/datadir
      - georchestra_datadir:/etc/georchestra

  envsubst:
    image: georchestra/k8s-initcontainer-envsubst
    depends_on:
      copy-datadir:
        condition: service_completed_successfully
    environment:
      - DEBUG=yes
      - SUBST_FILES=/etc/georchestra/security-proxy/targets-mapping.properties /etc/georchestra/datafeeder/frontend-config.json /etc/georchestra/datafeeder/metadata_* /etc/georchestra/geonetwork/microservices/ogc-api-records/config.yml
    env_file:
      - .envs-common
      - .envs-hosts
    volumes:
      - georchestra_datadir:/etc/georchestra

  database:
    image: georchestra/database:latest
    env_file:
      - .envs-database-georchestra
    depends_on:
      envsubst:
        condition: service_completed_successfully
    volumes:
      - ./volumes/postgresql:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: no

  ldap:
    image: georchestra/ldap:latest
    depends_on:
      envsubst:
        condition: service_completed_successfully
    environment:
      - SLAPD_ORGANISATION=georchestra
      - SLAPD_DOMAIN=georchestra.org
      - SLAPD_PASSWORD=secret
      - GEOSERVER_PRIVILEGED_USER_PASSWORD=gerlsSnFd6SmM
      - SLAPD_LOG_LEVEL=32768 # See https://www.openldap.org/doc/admin24/slapdconfig.html#loglevel%20%3Clevel%3E
      - RUN_AS_UID=0
      - RUN_AS_GID=0
      - LDAPHOST=localhost
    env_file:
      - .envs-ldap
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap
    restart: no

  gateway:
    image: georchestra/gateway:latest
    depends_on:
      - database
    volumes:
      - georchestra_datadir:/etc/georchestra
    environment:
      - JAVA_TOOL_OPTIONS=-Dgeorchestra.datadir=/etc/georchestra
    env_file:
      - .envs-common
      - .envs-ldap
      - .envs-hosts
      - .envs-database-georchestra
    ports:
      - 8080:8080

  header:
    image: georchestra/header:latest
    healthcheck:
      test: ["CMD-SHELL", "curl -s -f http://localhost:8080/header/img/logo.png >/dev/null || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 10
    depends_on:
      envsubst:
        condition: service_completed_successfully
    volumes:
      - georchestra_datadir:/etc/georchestra
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - XMS=256M
      - XMX=512M
    env_file:
      - .envs-common
    restart: no

  geoserver:
    image: georchestra/geoserver:latest
    healthcheck:
      test: ["CMD-SHELL", "curl -s -f 'http://localhost:8080/geoserver/ows?SERVICE=WMS&LAYERS=geor:public_layer&FORMAT=image/png&VERSION=1.3.0&SLD_VERSION=1.1.0&REQUEST=GetMap&CRS=EPSG:3857&BBOX=-20820223,-20820223,20820223,20820223&WIDTH=10&HEIGHT=10' >/dev/null || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 10
    depends_on:
      ldap:
        condition: service_healthy
      database:
        condition: service_healthy
    volumes:
      - georchestra_datadir:/etc/georchestra
      - ./volumes/geoserver_datadir:/mnt/geoserver_datadir
      - ./volumes/geoserver_geodata:/mnt/geoserver_geodata
      - ./volumes/geoserver_tiles:/mnt/geoserver_tiles
      - ./volumes/geoserver_native_libs:/mnt/geoserver_native_libs
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - XMS=256M
      - XMX=8G

    env_file:
      - .envs-database-georchestra
    restart: no

  console:
    image: georchestra/console:latest
    healthcheck:
      test: ["CMD-SHELL", "curl -s -f http://localhost:8080/console/account/new >/dev/null || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 10
    depends_on:
      ldap:
        condition: service_healthy
      database:
        condition: service_healthy
    volumes:
      - georchestra_datadir:/etc/georchestra
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - XMS=256M
      - XMX=1G
    env_file:
      - .envs-common
      - .envs-ldap
      - .envs-database-georchestra
      - .envs-hosts
    restart: no

  geonetwork:
    image: georchestra/geonetwork:latest
    healthcheck:
      test: ["CMD-SHELL", "curl -s -f http://localhost:8080/geonetwork/srv/eng/catalog.search >/dev/null || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 10
    depends_on:
      console:
        condition: service_healthy
      database:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    volumes:
      - georchestra_datadir:/etc/georchestra
      - ./volumes/geonetwork_datadir:/mnt/geonetwork_datadir
    environment:
      - JAVA_OPTIONS=-Duser.home=/tmp/jetty -Dgeorchestra.datadir=/etc/georchestra -Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=5005 -Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - XMS=256M
      - XMX=6G
    env_file:
      - .envs-hosts
      - .envs-database-georchestra
      - .envs-elastic
    restart: no

  mapstore:
    image: georchestra/mapstore:latest
    healthcheck:
      test: ["CMD-SHELL", "curl -s -f http://localhost:8080/mapstore/configs/config.json >/dev/null || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 10
    depends_on:
      database:
        condition: service_healthy
      ldap:
        condition: service_healthy
    volumes:
      - georchestra_datadir:/etc/georchestra
      - ./volumes/mapstore_extensions:/mnt/mapstore_extensions
    environment:
      - JAVA_OPTS=-Xms512m -Xmx512m -Dgeorchestra.datadir=/etc/georchestra -Dgeorchestra.extensions=/mnt/mapstore_extensions -DPRINT_BASE_URL=pdf
    env_file:
      - .envs-ldap
      - .envs-database-georchestra
    restart: no

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.3
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -u elastic:$$ELASTIC_PASSWORD -s -f http://localhost:9200/_cat/health  >/dev/null || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 10
    depends_on:
      envsubst:
        condition: service_completed_successfully
    env_file:
      - .envs-elastic
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: -Xms512m -Xmx512m
    restart: no


  ogc-api-records:
    image: geonetwork/gn-cloud-ogc-api-records-service:4.4.6-1
    depends_on:
      geonetwork:
        condition: service_healthy
      database:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    environment:
      LANG: en_US.UTF-8
      SERVER_SERVLET_CONTEXT_PATH: /ogc-api-records
      SPRING_CONFIG_LOCATION: file:///etc/georchestra/geonetwork/microservices/ogc-api-records/config.yml
      SPRING_PROFILES_ACTIVE: standalone
      JAVA_OPTS: -Dfile.encoding=UTF-8
    volumes:
      - georchestra_datadir:/etc/georchestra
    restart: no


  redis:
    image: "redis:alpine"
    command: redis-server

    environment:
      - REDIS_REPLICATION_MODE=master
  gaia-back:
    image: "docker-gaia-back:latest"
    depends_on:
      geonetwork:
        condition: service_healthy
      mapstore:
        condition: service_healthy
      geoserver:
        condition: service_healthy
      database:
        condition: service_healthy
    volumes:
      - ./datadir:/etc/georchestra
      - ./datadir/gaia/gunicorn.conf.py:/geordash/gunicorn.conf.py:ro
      - ./datadir/gaia/config.py:/geordash/config.py:ro
      - ./datadir/gaia/celeryconfig.py:/geordash/geordash/celeryconfig.py:ro
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
      #- ../:/geordash

    ports:
      - "5002:5002"

    environment:
      REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
      CURL_CA_BUNDLE: ""
      FLASK_APP: geordash
      FLASK_OPTS: "-h 0.0.0.0 -p 5002"
      georchestradatadir: /etc/georchestra
      REDISURL: "redis://redis:6379/1"
    env_file:
      - .envs-common
      - .envs-database-georchestra
      - .envs-hosts

  gaia-celery:

    image: "docker-gaia-celery:latest"
    depends_on:
      geonetwork:
        condition: service_healthy
      mapstore:
        condition: service_healthy
      geoserver:
        condition: service_healthy
      database:
        condition: service_healthy
    volumes:
      - ./datadir:/etc/georchestra
      - ./datadir/gaia/gunicorn.conf.py:/geordash/gunicorn.conf.py:ro
      - ./datadir/gaia/config.py:/geordash/config.py:ro
      - ./datadir/gaia/celeryconfig.py:/geordash/geordash/celeryconfig.py:ro
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
      #- ../:/geordash

    environment:
      REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
      CURL_CA_BUNDLE: ""
      FLASK_APP: geordash
      FLASK_OPTS: "-h 0.0.0.0 -p 5002"
      georchestradatadir: /etc/georchestra
      REDISURL: "redis://redis:6379/1"
    env_file:
      - .envs-common
      - .envs-database-georchestra
      - .envs-hosts

