services:

  database:
    image: georchestra/database:latest

  ldap:
    image: georchestra/ldap:latest
    ulimits:
      nofile:
        soft: "1024"
        hard: "1024"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.3
    environment:
      discovery.type: single-node
      xpack.security.enabled: false
      xpack.security.enrollment.enabled: false
    deploy:
      resources:
        limits:
          memory: 4096M
        reservations:
          memory: 4096M
  geonetwork:
    image: georchestra/geonetwork:latest
    environment:
    - PGHOST=database
    - PGPORT=5432
    - PGDATABASE=georchestra
    - PGUSER=georchestra
    - PGPASSWORD=georchestra
    - CONSOLE_HOST=console
    - ES_HOST=elasticsearch
    - ES_PORT=9200
    - JAVA_OPTIONS=-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=0.0.0.0:5005
    - CUSTOM_SCRIPTS_DIRECTORY=/etc/georchestra/geonetwork/scripts
    volumes:
    - ./datadir:/etc/georchestra:ro
    depends_on:
    - database
    - elasticsearch
    ports:
    - "5005:5005"

  console:
    image: georchestra/console:latest
    volumes:
      - ./datadir:/etc/georchestra:ro

  cas:
    image: georchestra/cas:latest
    volumes:
      - ./datadir:/etc/georchestra:ro

  proxy:
    image: georchestra/security-proxy:latest
    volumes:
      - ./datadir:/etc/georchestra:ro
    ports:
    - 8080:8080
