services:

  database:
    image: georchestra/database:latest

  ldap:
    image: georchestra/ldap:latest
    ulimits:
      nofile:
        soft: "1024"
        hard: "1024"

  home:
    # See here https://github.com/gohugoio/hugo/pkgs/container/hugo
    image: ghcr.io/gohugoio/hugo:latest
    volumes:
      - ./home:/project
    command:
      - "server"
      - "-D"
      - "--bind"
      - "0.0.0.0"
      - "-p"
      - "8080"
      - "--baseURL"
      - "http://localhost:8080/home/"
    depends_on:
      - gateway

  datahub:
    image: geonetwork/geonetwork-ui-datahub:latest
    volumes:
      - ./datadir:/etc/georchestra

  gateway:
    image: georchestra/gateway:latest-debug
    volumes:
      - ./datadir:/etc/georchestra
    depends_on:
      - ldap
      - database
    ports:
      - 8080:8080

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.3
    environment:
      discovery.type: single-node
      xpack.security.enabled: "false"
      xpack.security.enrollment.enabled: "false"

  console:
    image: georchestra/console:latest
    volumes:
      - ./datadir:/etc/georchestra

  geonetwork:
    image: georchestra/geonetwork:latest
    environment:
    - PGHOST=database
    - PGPORT=5432
    - PGDATABASE=georchestra
    - PGUSER=georchestra
    - PGPASSWORD=georchestra
    - CONSOLE_HOST=console
    - ES_HOST=elasticsearch
    - ES_PORT=9200
    - JAVA_OPTIONS=-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=0.0.0.0:5005
    depends_on:
    - console
    - database
    - elasticsearch
    - gateway
    ports:
    - 5005:5005
