services:
  ldap:
    image: georchestra/ldap:latest
    ports:
      - "3389:389"
    environment:
      - SLAPD_ADDITIONAL_MODULES=groupofmembers,openssh,ppolicy,lastbind
  database:
    image: georchestra/database:latest

  console:
    image: georchestra/console:latest
    volumes:
      - ./datadir:/etc/georchestra

  # used to fake a SP / geOrchestra gateway
  # Just open your browser on http://localhost:8080/console/

  front:
    image: nginx
    volumes:
      - ./datadir/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - '8080:8080'
